<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>




  <div class="work">
    <div class="container">
          <h1 class="title">Как это работает?</h1>
    <ul class="work__list list-reset">
      <li class="work__item">
        <svg class="work__svg">
          <use xlink:href="sprite.svg#coffee"></use>
        </svg>
        <h2 class="work__subtitle">Утренний <span class="work__descr">кофе</span></h2>
        <p class="work__text">
          Кофеин воздействует на центральную нервную систему как природный “будильник”. Поэтому мы быстрее просыпаемся.
        </p>
      </li>
      <li class="work__item">
        <svg class="work__svg">
          <use xlink:href="sprite.svg#meditation"></use>
        </svg>
        <h2 class="work__subtitle">Час <span class="work__descr">медитации</span></h2>
        <p class="work__text">
          После практик оба полушария мозга начинают работать сбалансированно — это привносит порядок в вашу жизнь.
        </p>
      </li>
      <li class="work__item">
        <svg class="work__svg">
          <use xlink:href="sprite.svg#run"></use>
        </svg>
        <h2 class="work__subtitle">Вперёд к <span class="work__descr">свершениям!</span></h2>
        <p class="work__text">
          Ресурсы каждого человека ограничены, поэтому нам необходимо беречь себя и вовремя останавливаться.
        </p>
      </li>
    </ul>
    </div>
  </div>
  <div class="service">
    <div class="container container__service">
      <div class="service__right">
        <h2 class="subtitle">
          Интеграция со сторонними сервисами
        </h2>
        <p class="service__text">
          Поможет всегда оставаться в курсе всех событий, быть максимально эффективным на протяжении всего рабочего дня, контролировать свои задачи и не опоздать на запланированные встречи.
        </p>
      </div>
      <div class="service__left">
        <ul class="service__list list-reset">
          <li class="service__item">
            <a href="#" class="service__link">
              <svg class="service__svg service__svg--facebook">
                <use xlink:href="sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="service__item">
            <a href="" class="service__link">
              <svg class="service__svg service__svg--facebook">
                <use xlink:href="sprite.svg#trello"></use>
              </svg>
            </a>
          </li>
          <li class="service__item">
            <a href="" class="service__link">
              <svg class="service__svg service__svg--facebook">
                <use xlink:href="sprite.svg#worklio"></use>
              </svg>
            </a>
          </li>
          <li class="service__item">
            <a href="" class="service__link">
              <svg class="service__svg service__svg--facebook">
                <use xlink:href="sprite.svg#dropbox"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="service__list--2 list-reset">
          <li class="service__item--2">
            <a href="" class="service__link--2">
              <svg class="service__svg service__svg--facebook">
                <use xlink:href="sprite.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="service__item--2">
            <a href="" class="service__link--2">
              <svg class="service__svg service__svg--facebook">
                <use xlink:href="sprite.svg#plain"></use>
              </svg>
            </a>
          </li>
          <li class="service__item--2">
            <a href="" class="service__link--2">
              <svg class="service__svg service__svg--facebook">
                <use xlink:href="sprite.svg#slack"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
